// maps
.map-container {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56.65%
}

[id^=map] {
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}